@import "../utils/variables";

.cart {
    width: 100%;
    [class~="cart-details"] {
        margin: 1rem;
        padding: 1rem;
        box-shadow: 5px 5px 20px rgba($secondary, 0.2);
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        ul {
            margin-right: 1rem;
            li {
                width: 100%;
                display: flex;
                justify-content: space-between;
                span {
                    min-width: 2rem;
                    text-align: right;
                }
                &[class~="total"] {
                    margin-top: 1rem;
                    font-weight: 700;
                    span span {
                        margin-right: 0.5rem;
                    }
                }
                &[class~="total"]:last-child {
                    margin-top: 0;
                }
            }
        }
        button {
            background: $contrast;
            border-radius: 0.5rem;
            padding: 0.5rem 1rem;
            color: $primary;
            margin: 1rem 1rem 0 auto;
            &[class~="disabled"] {
                background: grayscale($contrast);
            }
        }
    }
}
