@import "../utils/variables";

.header {
    padding: 0.5rem;
    background-color: $tertiary;
    color: $primary;
    [class~="header-inputs"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        
        button:first-child {
            margin-right: 1rem;
        }
        button:nth-child(2) {
            justify-self: flex-start;
        }
        
        button,
        input {
            background: none;
            color: currentColor;
            outline: none;
            border: none;
            font-size: 1.1rem;
        }
        
        input::placeholder {
            font-size: .75rem;
        }
        
        button {
            position: relative;
            &::after {
                position: absolute;
                content: "";
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                width: .5rem;
                height: .5rem;
                border-radius: 50%;
                background-color: rgba(darken($primary, 20%), .2);
            }
            &:hover {
                &::after {
                    transition: all 0.2s ease;
                    transform: translate(-50%, -75%) scale(4) ;
                }
            }
        }

        [class~="header-search"] {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 20rem;
            margin: 0 1rem;
            input {
                background: $primary;
                color: $secondary;
                width: 80%;
                padding: 0.5rem 1rem;
                border-radius: 0.65rem 0 0 0.65rem;
                margin: 0;
            }
            div {
                padding: .65rem;
                width: 20%;
                max-width: 5rem;
                display: grid;
                place-items: center;
                color: darken($tertiary, 10%);
                background-color: $contrast;
                transform: translateX(-2px);
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }
    }

    [class~="header-categories"] {
        ul {
            list-style: none;
            display: flex;
            max-width: 100%;
            overflow-x: scroll;
            margin: 0.75rem 0 0.5rem 0;
            scroll-snap-type: x mandatory;
            a {
                color: currentColor;
                text-decoration: none;
            }
            li {
                scroll-snap-align: center;
                margin: 0 0.5rem;
                flex-shrink: 0;
                background-color: darken($tertiary, 10%);
                padding: 0.5rem;
                border-radius: 0.5rem;
                position: relative;
                z-index: 10;
                &:first-child,
                &:nth-child(3) {
                    padding-right: 3rem;
                    &::after {
                        content: "25%";
                        padding: 0 0.5rem;
                        position: absolute;
                        border-radius: 0 0.5rem 0.5rem 0;
                        top: 0;
                        right: 0;
                        width: 1.5rem;
                        height: 100%;
                        line-height: 2rem;
                        text-align: center;
                        font-size: 0.75rem;
                        background-color: $contrast;
                        color: $secondary;
                        z-index: 9;
                    }
                    &:hover {
                        &::after {
                            content: "flat offer";
                            line-height: 1rem;
                        }
                    }
                }
                &:hover {
                    background-color: lighten($tertiary, 10%);
                }
            }
        }
    }
}
