@import "../utils/variables";

.header {
    padding: 0.5rem;
    background-color: $tertiary;
    color: $primary;

    [class~="header-inputs"] {
        display: grid;
        place-items: center;
        grid-template-columns: 2fr 6fr 1fr;
        gap: 0.5rem;
        font-size: 1.25rem;

        button,
        input {
            font-size: 1.5rem;
            margin-right: 0.5rem;
            background: none;
            color: currentColor;
            outline: none;
            border: none;
        }

        [class~="nav-search"] {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            input {
                font-size: 0.8rem;
                background: $primary;
                color: $secondary;
                width: 80%;
                padding: 0.4rem;
                border-radius: 0.65rem 0 0 0.65rem;
                margin: 0;
            }
            div {
                width: 20%;
                max-width: 5rem;
                display: grid;
                place-items: center;
                padding: 0.25rem;
                color: $secondary;
                background-color: $contrast;
                transform: translateX(-2px);
                border-radius: 0 0.5rem 0.5rem 0;
            }
        }
    }

    [class~="nav-categories"] {
        ul {
            list-style: none;
            display: flex;
            max-width: 100%;
            overflow: scroll;
            margin: 0.75rem 0 0.5rem 0;
            li {
                margin: 0 0.5rem;
                flex-shrink: 0;
                background-color: darken($tertiary, 10%);
                padding: 0.5rem;
                border-radius: 0.5rem;
                position: relative;
                z-index: 10;
                &:first-child,
                &:nth-child(3) {
                    padding-right: 3rem;
                    &::after {
                        content: "25%";
                        padding: 0 0.5rem;
                        position: absolute;
                        border-radius: 0 0.5rem 0.5rem 0;
                        top: 0;
                        right: 0;
                        width: 1.5rem;
                        height: 100%;
                        line-height: 2rem;
                        text-align: center;
                        font-size: 0.75rem;
                        background-color: $contrast;
                        color: $secondary;
                        z-index: 9;
                    }
                    &:hover {
                        &::after {
                            content: "flat offer";
                            line-height: 1rem;
                        }
                    }
                }
            }
        }
    }
}
