@import "../utils/variables";
@import "../utils/ripple.scss";

.header {
    padding: 0.5rem;
    background-color: $tertiary;
    color: $primary;
    [class~="header-inputs"] {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;

        button,
        input {
            background: none;
            color: currentColor;
            outline: none;
            border: none;
        }

        button {
            @include ripple;
            &:first-child {
                margin-right: 1rem;
            }
            &:nth-child(2) {
                margin: 0 auto 0 .5rem;
            }
        }

        [class~="header-search"] {
            display: grid;
            grid-template-columns: 4fr 1fr;
            max-width: 20rem;
            margin: 0 1rem;
            & > * {
                height: 100%;
                padding: .5rem;
                font-size: 1rem;
                display: inline;
            }
            input {
                background: $primary;
                color: $secondary;
                border-radius: 0.65rem 0 0 0.65rem;
                max-width: 40vw;
                &::placeholder {
                    font-size: .8rem;
                }
            }
            div {
                background-color: $contrast;
                color: $tertiary;
                border-radius: 0 0.5rem 0.5rem 0;
                svg {
                    display: block;
                    margin: 0 auto;
                }
            }
        }

        div:last-child {
            display: flex;
            button > span {
                position: absolute;
                bottom: -10%;
                right: -10%;
                display: grid;
                place-items: center;
                background-color: $contrast;
                color: $tertiary;
                width: 0.85rem;
                height: 0.85rem;
                padding: 0.1rem;
                font-size: 0.65rem;
                border-radius: 50%;
            }
        }
    }

    [class~="header-categories"] {
        ul {
            list-style: none;
            display: flex;
            max-width: 100%;
            overflow-x: scroll;
            margin: 0.75rem 0 0.5rem 0;
            scroll-snap-type: x mandatory;
            a {
                color: currentColor;
                text-decoration: none;
            }
            li {
                scroll-snap-align: center;
                margin: 0 0.5rem;
                flex-shrink: 0;
                background-color: darken($tertiary, 10%);
                padding: 0.5rem;
                border-radius: 0.5rem;
                position: relative;
                z-index: 10;
                &:first-child,
                &:nth-child(3) {
                    padding-right: 3rem;
                    &::after {
                        content: "25%";
                        padding: 0 0.5rem;
                        position: absolute;
                        border-radius: 0 0.5rem 0.5rem 0;
                        top: 0;
                        right: 0;
                        width: 1.5rem;
                        height: 100%;
                        line-height: 2rem;
                        text-align: center;
                        font-size: 0.75rem;
                        background-color: $contrast;
                        color: $secondary;
                        z-index: 9;
                    }
                    &:hover {
                        &::after {
                            content: "flat offer";
                            line-height: 1rem;
                        }
                    }
                }
                &:hover {
                    background-color: lighten($tertiary, 10%);
                }
            }
        }
    }
}
