@import "../utils/variables";

.product {
    padding: 1rem 1rem .5rem;
    background: $primary;
    width: 100%;
    min-height: 100%;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 20px rgba(darken($primary, 90%), 0.2);
    display: grid;
    align-items: center;
    gap: .5rem;
    [class~="product-pic"] {
        position: relative;
        width: 100%;
        height: 12rem;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }
    [class~="product-price"] {
        align-self: center;
    }
    [class~="product-rating"] {
        font-weight: 700;
        span:first-child {
            color: $contrast;
            margin: 0 0.5rem;
        }
        span:last-child {
            font-weight: 300;
            margin: 0 0.5rem;
        }
    }
}
