@import "../utils/variables";

.page {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & > * {
        margin: 0.5rem 0;
    }
    [class~="product-pic"] {
        position: relative;
        width: 100%;
        height: 20rem;
        margin: 0;
        margin-bottom: 1rem;
        transform-origin: bottom;
    }
    [class~="product-title"] {
        margin-top: 0;
        h3 {
            color: rgba($tertiary, 0.75);
        }
    }
    [class~="product-rating"] {
        font-weight: 700;
        span:first-child {
            color: $contrast;
            margin: 0 0.5rem;
        }
        span:last-child {
            font-weight: 300;
            margin: 0 0.5rem;
        }
    }
    [class~="product-price"] {
        span {
            font-weight: 300;
            font-size: 1rem;
        }
    }
    [class~="product-cta"] {
        & > * {
            padding: 0.5rem 1rem;
            margin: 0 0.25rem;
            font-size: 1.2rem;
            font-weight: 700;
            border-radius: 0.5rem;
            border: none;
            text-shadow: 2px 2px 2px rgba($secondary, 0.2);
            box-shadow: 3px 3px 5px rgba($secondary, 0.2);
        }
        [class~="cart-edit"] {
            display: inline-block;
            background: $contrast;
            color: $primary;
            & > * {
                margin: 0 1.05rem;
            }
            button {
                background: none;
                border: none;
                font-size: 1.3rem;
                font-weight: 700;
                text-shadow: 1px 1px 3px rgba($secondary, 0.5);
            }
            button:first-child {
                color: mediumspringgreen;
            }
            button:last-child {
                color: indianred;
            }
        }
        & > button {
            color: $primary;
            &:first-child {
                background: $contrast;
                &:hover {
                    background: lighten($contrast, 10%);
                }
            }
            &:last-child {
                background: $tertiary;
                &:hover {
                    background: lighten($tertiary, 10%);
                }
            }
        }
        [class~="danger"] {
            background: indianred !important;
            &:hover {
                background: lighten(indianred, 10%) !important;
            }
        }
    }

    ul {
        padding: 0 1rem 1rem 2rem;
        border-left: 5px solid $tertiary;
        background: darken($primary, 5%);
        li {
            text-transform: capitalize;
        }
    }

    p,
    ul {
        font-family: serif;
    }

    [class~="product-info"] ~ h3 {
        color: $tertiary;
    }
    ul {
        li {
            margin: 0.5rem 0;
        }
    }
}
