@import "../utils/variables";

.products {
    max-width: 100%;
    min-height: 50vh;
    padding: 1rem;
    ul {
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 556px) {
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 992px) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        grid-template-rows: repeat(auto-fit);
        gap: 1rem;
    }
    h2 {
        margin: 0.5rem 0 1rem 0;
        color: $tertiary;
        text-shadow: 2px 2px $contrast;
        &::first-letter {
            color: $contrast;
            text-shadow: 2px 2px $tertiary;
            font-size: 2rem;
            text-transform: uppercase;
            margin-right: 5px;
        }
    }
    & li > span {
        font-size: 1.2rem;
        margin-left: 2rem;
    }
}

.results {
    max-width: 75%;
    margin: 0 1rem 0 auto;
    background: darken($primary, 5%);
    border-radius: .5rem;
    min-height: unset;
    box-shadow: inset 2px -2px 10px $primary;
    border: 2px solid rgba($secondary, .25);
    h2 {
        display: none;
    }
    @media (min-width: 556px) {
        grid-template-columns: 1fr;
    }
    @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }
    [class~="product-pic"] {
        height: 2rem;
    }
}
